@model IEnumerable<ProgLibrary.Infrastructure.ViewModels.ReservationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezerwacje</h1>

<button asp-action="Create" type="button" value="Create New" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Utwórz nową rezerwacje</button>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationTimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationTimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationTimeFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationTimeTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @{ if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a>|</a>
                            <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                            <a>|</a>
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }

    </tbody>
</table>
